<!-- Footer Section -->
  <div class="footer-top">
    <div class="footer-left">
      <div class="footer-logo">🎨ARTsell</div>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="#">Link One</a></li>
        <li><a href="#">Link Two</a></li>
        <li><a href="#">Link Three</a></li>
        <li><a href="#">Link Four</a></li>
        <li><a href="#">Link Five</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li><a href=""><img src="images/socials/instagram.png" alt="Instagram"></a></li>
        <li><a href=""><img src="images/socials/facebook.png" alt="Facebook"></a></li>
        <li><a href=""><img src="images/socials/twitter.png" alt="X"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2025</p>
    <ul class="footer-links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Cookies Settings</a></li>
    </ul>
  </div>