<!-- Header Partial -->
<div class="header-container">
  <div class="logo"><a href="#">🎨ARTsell</a></div>

  <!-- Desktop Navigation -->
  <nav class="desktop-nav">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/gallery/index.html">Gallery</a></li>
      <li><a href="/artist/index.html">Artist Tools</a></li>
      <li><a href="/shop/index.html">Shop Now</a></li>
      <li><a href="/about/index.html">About</a></li>
      <li><a class="cartIcon" href="/cart/index.html">Cart <img src="/images/icons/shopping-cart.png"
            alt="Cart icon"></a></li>
    </ul>
  </nav>

  <!-- Header Buttons -->
  <div class="header-buttons">
    <button class="btn-secondary">Join</button>
    <button class="btn-primary">Login</button>
  </div>

  <!-- Hamburger Menu Icon for Mobile -->
  <div class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<!-- Mobile Navigation Menu -->
<nav class="mobile-nav">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/gallery/index.html">Gallery</a></li>
    <li><a href="/artist/index.html">Artist Tools</a></li>
    <li><a href="/shop/index.html">Shop Now</a></li>
  </ul>
</nav>